body {
	background-color: #261E20;
	color: #e5e5e5;
}

input {
	color: #261E20;
	height: 25%;
	width: 100%;
	font-size: 11em;
	text-align: center;
}

#red {
	background-color: #E874A9;
}

#blue {
	background-color: #78C5D6;
}

#green {
	background-color: #79C267;
}

#white {
	background-color: #E7E7E7;
}
