body {
	background-color: #261E20;
	color: #e5e5e5;
}

input {
	color: #261E20;
}

input[name="red"] {
	background-color: #E874A9;
}

input[name="blue"] {
	background-color: #78C5D6;
}

input[name="green"] {
	background-color: #79C267;
}
