<html>
	<head>
		<title>Lights Controller 420</title>

		<link rel="stylesheet" type="text/css" href="static/styles.css">

	<body>
		<!-- This form is to set the RGB values on the lights -->
		<center><form method="post" name="rgb">
			<input type="tel" name="red" id="red" autocomplete="off"></input><br />
			<input type="tel" name="green" id="green" autocomplete="off"></input><br />
			<input type="tel" name="blue" id="blue" autocomplete="off"></input><br />
			<input type="tel" name="white" id="white" autocomplete="off"></input>
			<input type="submit" value="Submit"></input>
		</form></center>
	</body>
</html>
